<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="{{ url_for('add_friend') }}">
            <input type="text" name="friend"/>
            <input type="submit" value="Add friend!"/>
        </form>
        <form method="post" action="{{ url_for('create_setup') }}">
            <label for="attendee_netid">Your friend's netid:</label>
            <select name="attendee_netid">
            {% for f in friends %}
                <option value="{{ f.netid }}">{{ f.name }}</option>
            {% endfor %}
            </select>

            <br/>
            
            <label for="event">Event</label>
            <select name="event">
            {% for e in events %}
                <option value="{{ e }}">{{ e }}</option>
            {% endfor %}
            </select><br/>

            <input type="radio" name="member" value="yes" checked>Member<br>
            <input type="radio" name="member" value="no">Non-member<br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
