hello {{ name }} 
<br/>
<a href="{{ url_for('edit_user') }}">Edit Profile</a>
<form method="POST" action="{{ url_for('logout') }}">
    <input value="Logout" type="submit"/>
</form>
<form method="POST" action="{{ url_for('delete_account') }}">
    <input value="Delete Account" type="submit"/>
</form>

Currently searching:
<br/>
{% for s in current_setups %}
    {{ s.attendee }}
    <br/>
    {{ s.event_name }}
    <br/>
    <form method="POST" action="{{ url_for('get_matches') }}">
        <input type="hidden" name="netid" value="{{ s.attendee }}"/>
        <input type="hidden" name="member" value="{{ s.member }}"/>
        <input type="hidden" name="event" value="{{ s.event_name }}"/>
        <input type="submit" value="Matches so far"/>
    </form>
    <form method="POST" action="{{ url_for('get_potential_match') }}"/>
        <input type="hidden" name="event" value="{{ s.event_name }}"/>
        <input type="hidden" name="attendee" value="{{ s.attendee }}"/>
        <input type="submit" value="Find a match!"/>
    </form>
    <br/><br/>
{% endfor %}

Your past setups:
{% for s in past_setups %}
    {{ s.attendee }}
    <br/>
    {{ s.event_name }}
    <br/>
    <form method="POST" action="{{ url_for('get_matches') }}">
        <input type="hidden" name="netid" value="{{ s.attendee }}"/>
        <input type="hidden" name="member" value="{{ s.member }}"/>
        <input type="hidden" name="event" value="{{ s.event_name }}"/>
        <input type="submit" value="Matches so far"/>
    </form>
{% endfor %}

<br/>
<a href="{{ url_for('create_setup') }}">Set up a friend</a>

