<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form method="post" action="{{ url_for('signup') }}">
            <label for="netid">Netid:</label>
            <input type="text" name="netid"/><br/>
            <label for="name">Name:</label>
            <input type="text" name="name"/><br/>
            <label for="year">Year:</label>
            <input type="text" name="year"/><br/>
            <label for="bio">Bio:</label>
            <textarea rows=10 name="bio"></textarea><br/>
            <label for="hometown">Hometown:</label>
            <input type="text" name="hometown"/><br/>
            <label for="major">Major:</label>
            <input type="text" name="major"/><br/>
            <label for="dorm">Dorm:</label>
            <input type="text" name="dorm"/><br/>
            <label for="gender">Gender:</label>
            <input type="text" name="gender"/><br/>
            <label for="interested_in">Interested in:</label>
            <input type="text" name="interested_in"/><br/>
            <label for="number">Number:</label>
            <input type="text" name="number"/><br/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>
