<html>
	<head>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootswatch-cyborg.css"> -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='bootswatch-cyborg.css') }} ">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{{url_for('static', filename='set_hidden_inputs.js')}}"></script>
        <script src="{{url_for('static', filename='upload_button.js')}}"></script>
		<title>tiNDer - the SYR edition</title>
	</head>
    <body background="{{ url_for('static', filename='background2.jpg') }}" style="
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		">

		<div id="background-pic" >

			<div style="height: 100px;">
			</div>

			<div id="title" style="
				height: 300px;"> 
				<H1 style="
					text-align: center;
					vertical-align: middle;
					line-height: 170px;
					font-size: 100px;"
					>tiNDer</H1>
				<H5 style="
					text-align: center;
					vertical-align: middle;
					line-height: 10px;
					font-weight: lighter;
					font-size: 40px;"
					>the SYR edition</H5>
			</div>
			
			<!-- Log In Modal -->
			<div id="loginModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Welcome Back!</h4>
						</div>
                        <form method="post" action = "{{ url_for('login') }}">
                            <div class="modal-body">
                                <label class="control-label" for="netid">NetID:</label>
                                <input class="form-control" name="netid" type="text">
                                <br>
                                <label class="control-label" for="passwordInput">Password:</label>
                                <input class="form-control" name="passwordInput" type="password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </div>
                        </form>
					</div>

				</div>
			</div>

            <!-- <form method="post" action="{{ url_for('signup')}}" > -->
                <!-- Sign Up Modal 1 -->
                <div id="signUpModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Basic Info</h4>
                            </div>
                            <div class="modal-body">
                                <label class="control-label" for="name">Name:</label>
                                <input class="form-control" name="name" id="name_first" type="text">
                                <br>
                                <label class="control-label" for="netid">NetID:</label>
                                <input class="form-control" name="netid" id="netid_first" type="text">
                                <br>
                                <label class="control-label" for="passwordInput">Password:</label>
                                <input class="form-control" id="passwordInput" type="password">
                                <br>
                                <div class="form-group">
                                    <label for="dorm">Dorm (must be ND):</label>
                                    <select class="form-control" name="dorm" id="dorm_first">
                                        <option selected="selected">Alumni</option>
                                        <option>Badin</option>
                                        <option>BP</option>
                                        <option>Carroll</option>
                                        <option>Cav</option>
                                        <option>Dillon</option>
                                        <option>Duncan</option>
                                        <option>Dunne</option>
                                        <option>Farley</option>
                                        <option>Fisher</option>
                                        <option>Flaherty</option>
                                        <option>Howard</option>
                                        <option>Keenan</option>
                                        <option>Knott</option>
                                        <option>Lewis</option>
                                        <option>Lyons</option>
                                        <option>McGlinn</option>
                                        <option>Morrissey</option>
                                        <option>Old College</option>
                                        <option>O'Neill</option>
                                        <option>Pangborn</option>
                                        <option>PE</option>
                                        <option>PDub</option>
                                        <option>Ryan</option>
                                        <option>Sted's</option>
                                        <option>Siegfried</option>
                                        <option>Sorin</option>
                                        <option>Walsh</option>
                                        <option>Welsh Fam</option>
                                        <option>Zahm</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#signUpModal2" onclick="set_hidden_inputs();">Next</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Sign Up Modal 2 -->
                <div id="signUpModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Great! Now tell us a little bit about yourself</h4>
                            </div>
                                <div class="modal-body">
                                    <label class="control-label" for="bio_first">Bio:</label>
                                    <input class="form-control" name="bio_first" id="bio_first" type="text">
                                    <br>
                                    <label class="control-label" for="hometown_first">Hometown:</label>
                                    <input class="form-control" name="hometown_first" id="hometown_first" type="text">
                                    <br>
                                    <div class="form-group">
                                        <label for="gender_first">Gender:</label>
                                        <select class="form-control" name="gender_first" id="gender_first">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="interested_in_first">Interested in:</label>
                                        <select class="form-control" name="interested_in_first" id="interested_in_first">
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Both</option>
                                        </select>
                                    </div>
                                    <label class="control-label" for="major_first">Major(s):</label>
                                    <input class="form-control" name="major_first" type="text" id="major_first">
                                    <br>
                                    <div class="form-group">
                                        <label for="year">Graduation Year:<label>
                                        <select class="form-control" name="year_first" id="year_first">
                                            <option>2017</option>
                                            <option>2018</option>
                                            <option>2019</option>
                                            <option>2020</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                    <!--<button type="submit" class="btn btn-primary" data-dismiss="modal" value="Okay, I'm ready to start!">OKAY</button>-->
                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#signUpModal3" onclick="set_hidden_inputs2();">Next</button>
                                </div>
                        </div>
                    </div>
                </div>

                <!-- Sign Up Modal 3: Interests -->
                <div id="signUpModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">One more step! What do you like to do?</h4>
                            </div>
                        <form method="post" action="{{ url_for('signup') }}">
                            <div class="modal-body">
                                <input type="hidden" name="name" id="name"/>
                                <input type="hidden" name="netid" id="netid"/>
                                <input type="hidden" name="dorm" id="dorm"/>
                                <input type="hidden" name="year" id="year"/>
                                <input type="hidden" name="bio" id="bio"/>
                                <input type="hidden" name="hometown" id="hometown"/>
                                <input type="hidden" name="gender" id="gender"/>
                                <input type="hidden" name="interested_in" id="interested_in"/>
                                <input type="hidden" name="major" id="major"/>
                                <p>My interests: </p>
                                <p id="interestList"></p>
                                <br>
                                <label class="control-label" for="interests">Select your interests:</label>
<br>
                                <div id="interests">
                                    {% for i in interests %}
                                        <label><input name="interest" type="checkbox" id="{{i}}" value="{{i}}">{{i}}</input></label>
                                        <br/>
                                    {% endfor %}
                                </div>
                                <br>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Submit" class="btn btn-primary">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>

			<center>	
				<!-- Log In -->
				<button type="button" style="
					color: white;
					background-color: transparent;
					border: 2px solid white;
					border-radius: 10px;
					font-size: 18px;
					margin: 8px;
					" data-toggle="modal" data-target="#loginModal">login</button>
				
				<!-- Sign Up -->
				<button type="button" style="
					color: white;
					background-color: transparent;
					border: 2px solid white;
					border-radius: 10px;
					font-size: 18px;
					margin: 8px;
					" data-toggle="modal" data-target="#signUpModal">sign up</button>
			</center>

			<div style="height: 70px;">
			</div>

			<div style="
				height: 200px;
				background-color: black;
				">
				<br>
				<br>
				<br>
				<br>
				<center>
				<h6 style="color: gray;">Brought to you by JPM2</h6>
				</center>
			</div>


		</div>
	</body>
</html>
