<html>
	<head>
    <!-- <link rel="stylesheet" type="text/css" href="css/bootswatch-cyborg.css"> -->
    <link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='bootswatch-cyborg.css') }} ">
    <meta name="google-signin-client_id" content="568303473184-9q1si6vu9e2g9oi3j3okv2m4he54rh6c.apps.googleusercontent.com">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="{{url_for('static', filename='set_hidden_inputs.js')}}"></script>
        <script src="{{url_for('static', filename='upload_button.js')}}"></script>
        <script src="{{url_for('static', filename='google_login.js')}}"></script>

		<title>tiNDer - the SYR edition</title>
	</head>
    <body background="{{ url_for('static', filename='background2.jpg') }}" style="
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		">

		<div id="background-pic" >

			<div style="height: 100px;">
			</div>

			<div id="title" style="
				height: 300px;"> 
				<H1 style="
					text-align: center;
					vertical-align: middle;
					line-height: 170px;
					font-size: 100px;"
					>tiNDer</H1>
				<H5 style="
					text-align: center;
					vertical-align: middle;
					line-height: 10px;
					font-weight: lighter;
					font-size: 40px;"
					>the SYR edition</H5>
			</div>
			
			<!-- Log In Modal -->
			<div id="loginModal" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Welcome Back!</h4>
						</div>
                        <form method="post" action = "{{ url_for('login') }}">
                            <div class="modal-body">
                                <label class="control-label" for="netid">NetID:</label>
                                <input class="form-control" name="netid" type="text">
                                <br>
                                <label class="control-label" for="passwordInput">Password:</label>
                                <input class="form-control" name="passwordInput" type="password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" value="Submit" class="btn btn-primary"/>
                            </div>
                        </form>
					</div>

				</div>
			</div>


			<center>	

                                <div class="g-signin2" data-onsuccess="onSignIn"></div>

			</center>

			<div style="height: 70px;">
			</div>

			<div style="
				height: 200px;
				background-color: black;
				">
				<br>
				<br>
				<br>
				<br>
				<center>
				<h6 style="color: gray;">Brought to you by JPM2</h6>
				</center>
			</div>


		</div>
	</body>
</html>
