<html>
	<head>
    		<link rel="stylesheet" type="text/css" href=" {{ url_for('static', filename='bootswatch-cyborg.css') }} ">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        	<script src="{{url_for('static', filename='set_hidden_inputs.js')}}"></script>
        	<script src="{{url_for('static', filename='upload_button.js')}}"></script>
		<title>tiNDer - the SYR edition</title>
	</head>
    <body>
    <form method="post" action="{{ url_for('signup') }}">

	<div style="margin: 50px;">
        <div>
            <label class="control-label" for="name">Name:</label>
            <input class="form-control" name="name" id="name" type="text">
            <br>
            <div class="form-group">
                <label for="dorm">Dorm (must be ND):</label>
                <select class="form-control" name="dorm" id="dorm">
                    {% for d in dorms %}
                        <option>{{d}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

            <div>
                <label class="control-label" for="bio">Bio:</label>
                <input class="form-control" name="bio" id="bio" type="text">
                <br>
                <label class="control-label" for="hometown">Hometown:</label>
                <input class="form-control" name="hometown" id="hometown" type="text">
                <br>
                <div class="form-group" style="width: 45%; float: left;">
                    <label for="gender">Gender:</label>
                    <select class="form-control" name="gender" id="gender">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="form-group" style="width: 45%; float: right;">
                    <label for="interested_in">Interested in:</label>
                    <select class="form-control" name="interested_in" id="interested_in">
                        <option>Male</option>
                        <option>Female</option>
                        <option>Both</option>
                    </select>
                </div>
<br>
<br>
<br>
<br>
                <label class="control-label" for="major">Major(s):</label>
                <input class="form-control" name="major" type="text" id="major">
                <br>
                <div class="form-group">
                    <label for="year">Graduation Year:<label>
                    <select class="form-control" name="year" id="year">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                </div>
            </div>

    <!-- Sign Up Modal 3: Interests -->
                    <p id="interestList"></p>
                    <br>
                    <label class="control-label" for="interests">Select your interests:</label>
<br>
                    <div id="interests">
                        {% for i in interests %}
                            <label><input name="interest" type="checkbox" id="{{i}}" value="{{i}}">{{i}}</input></label>
                            <br/>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                    <input type="submit" value="Submit" class="btn btn-primary">
		</div>
    </form>
	</body>
</html>
