<html>
	<head>
	<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootswatch-cyborg.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		<title>tiNDer - the SYR edition</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
                <a class="navbar-brand" href="{{url_for('index')}}">tiNDer</a>
			</div>
            <form class="form-inline navbar-right" method="post" action="{{ url_for('logout') }}">
                <button class="btn btn-default" type="submit">Logout</button>
            </form>
			<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><img height=20px width=20px src="{{pic}}" style="border-radius: 50%;"></a> </li>
                <li><a href="#">Hi, <span id="userName">{{ user.name }}</span>!</a></li> 
			</ul>
		</div>
		</nav>

		<div id="syrInfo" style="margin: 50px;">

            <a id="backToChooseFriendAndDance" href="{{url_for('index')}}" class="btn btn-default" style="float: right; margin: 50px;">set up someone else</a>


			<p>setting up</p>
            <h2 id="personBeingSetUp" style="display: inline;" class="text-info"> {{ attendee.name }} </h2>
			<p>for the</p>

			<div id="dance_description" style="
				height: 120px;
				">
                <h2 id="dance" class="text-primary">{{event.name}}</h2>	
                <h6 class="text-success">{{event.location}}</h6>	
                <h6 class="text-success">{{event.date}}</h6>	
                <h6 class="text-success">{{event.time}}</h6>	
			</div>

			<hr>

			<center>
				<h4 style="display: inline; margin-right: 20px">Show me:</h4>
				<label class="checkbox-inline">
					<input type="checkbox" checked data-toggle="toggle"> Males
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" data-toggle="toggle"> Females
				</label>
			</center>

			<hr>

			<div id="wrapper" style="text-align: center">

				<div style="height:20px">
				</div>

                <form method="post" action="{{url_for('update_potential_match_status')}}">
                    <input type="hidden" name="other_setter_upper" value="{{ other_setter_upper }}"/>
                    <input type="hidden" name="other_attendee" value="{{ match.netid }}"/>
                    <input type="hidden" name="attendee" value="{{ attendee.netid }}"/>
                    <input type="hidden" name="event" value="{{ event.name }}"/>
                    <input type="hidden" name="member" value="{{ member }}"/>
                    <input type="hidden" name="status" value="No"/>
                    <div onclick= "this.parentNode.submit();" id="nay" class="yayNay" style="float: left;">
                        <h1 style="display:table-cell; vertical-align:middle">Nay</h1>
                    </div>
                </form>

				<div style="display: inline-block; max-width: 350px; background-color: #0f0f0f; border: 5px solid #1e1e1e; border-radius: 20px; padding: 20px;">

					<center>
                        <img src="{{match_pic}}" height=200 width=200 style="border-radius: 50%;">
                        <h3 id="candidateName" class="text-info"> {{ match.name }}</h3>
                        <h6 class="text-success"><span id="candidateDorm"> {{ match.dorm }}</span></h6>
                        <h6 class = "text-success"><span id="candidateHometown">{{ match.hometown }}</span></h6>
                        <h6 class="text-success"><span id="candidateMajor"> {{match.major}}</span></h6> 
                        <h6 class="text-success"><span id="candidateYear">{{match.year}}</span></h6>
					</center>

					<br>			

					<p id="candidateBio" class="text-muted" style="text-align: left;">
                    {{ match.bio }}
                    </p>
				</div>

				<div id="yay" class="yayNay" style="float: right;">
                <form method="post" action="{{url_for('update_potential_match_status')}}">
                    <input type="hidden" name="other_setter_upper" value="{{ other_setter_upper }}"/>
                    <input type="hidden" name="other_attendee" value="{{ match.netid }}"/>
                    <input type="hidden" name="attendee" value="{{ attendee.netid }}"/>
                    <input type="hidden" name="event" value="{{ event.name }}"/>
                    <input type="hidden" name="member" value="{{ member }}"/>
                    <input type="hidden" name="status" value="Yes"/>
                    <div onclick= "this.parentNode.submit();" id="yay" class="yayNay" style="float: left;">
                        <h1 style="display:table-cell; vertical-align:middle">Yay</h1>
                    </div>
				</div>
                </form>
			</div>
		</div>
	</body>
</html>
